/*首页开始*/
/*中部开始*/
main{
    font-size: 0;
}
.main_slide{
    width: 100%;
    background: white;
}
.main_slide_box{
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}
/*轮播开始*/
.index_slide{
    width: 710px;
    height: 315px;
    display: inline-block;
    vertical-align: middle;
}
.index_slide .item{
    width: 100%;
    height: 315px;
    overflow: hidden;
}
.index_slide .item img{
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-tranform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
}
.index_slide article{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 26px;
    background: rgba(255,255,255,0.5);
    color: #333333;
    text-align: center;
    font-size: 12px;
    line-height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}
.index_slide .carousel-indicators{
    bottom: 36px;
    line-height: 10px;
}
.index_slide .carousel-indicators li{
    margin: 1px 5px;
    background: white;
    border: none;
}
.index_slide .carousel-indicators .active{
    background: #b90100;
    height: 10px;
    width: 10px;
}
/*轮播结束*/

/*加入我们开始*/
.index_join{
    width: 260px;
    height: 315px;
    margin-left: 30px;
    display: inline-block;
    border: solid 1px #e1e1e1;
    padding: 30px 0;
    vertical-align: middle;
    text-align: center;
}
.index_join_p{
    font-size: 18px;
    line-height: 18px;
}
.index_join_english{
    font-size: 12px;
    line-height: 12px;
    padding: 10px 0 16px;
}
.join_pic{
    margin: 0 auto;
    height: 128px;
    width: 128px;
}
.index_join_btm_p{
    color: #666666;
    font-size: 12px;
    line-height: 12px;
    padding: 16px 0 10px;
}
.index_join_btn{
    width: 200px;
    height: 32px;
    background: #b90100;
    line-height: 32px;
    font-size: 14px;
    color: white;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}
/*加入我们结束*/

/*最新动态开始*/
.news{
  background: #fafafa;
    width: 100%;
    height:658px;
}
.news_box{
    width: 1000px;
    margin: 0 auto;
    background: #fafafa;
}
.mid_title{
    font-size: 24px;
    color: #333333;
    text-align: center;
    padding: 30px 0 20px;
}
.mid_english{
    font-size: 16px;
    color: #333333;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
    border-bottom: solid 1px #e1e1e1;
}
.mid_english::after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 5px;
    width: 100px;
    background: #d8b956;
    transform: translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-tranform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
}
.more_p{
    text-align: right;
    padding: 30px 0 8px;
}
.more_a{
    font-size: 12px;
    color: #666666;
}
.news_item{
    width: 500px;
    margin-bottom: 30px;
}
.item_left{
    height: 126px;
    width: 180px;
    position: relative;
    overflow: hidden;
}
.item_left img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 50%;
}
.item_right{
    height: 126px;
    width: 320px;
    padding: 0 50px 0 20px;
}
.item_title{
    padding: 12px 0 0;
    margin-bottom: 8px;
    -o-text-overflow: ellipsis;
    font-size: 14px;
    width: 234px;
    line-height: 16px;
    height: 42px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item_title_a:hover{
    color: #8c0001;
}
.item_text{
    font-size: 12px;
    line-height: 16px;
    height: 48px;
    overflow: hidden;
    position: relative;
    margin-bottom:10px;
}
.item_text_overflow:after{
    content: '...';
    font-size: 14px;
    color: #333333;
    /*font-weight: bold;*/
    position: absolute;
    bottom: 0;
    right: 0;
    padding:0 20px 1px 45px;
    background: url("../images/ellipsis_bg.png")no-repeat;
}
.item_text_span{
   line-height: 16px;
}
.item_btm{
    color: #999999;
}
.item_time{
  width: 88px;
    font-size: 12px;
}
.item_writer{
    width: 162px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}
/*最新动态结束*/

/*官方通知开始*/
.notice{
    background: white;
    height: 500px;
}
.notice_box{
    width: 1000px;
    margin: 0 auto;

}
.main_notice_box{
    height: 360px;
}
.notice_left{
    width: 478px;
    height: 100%;
    position: relative;
}
.notice_left img{
    width: 100%;
    height: 100%;
}
.notice_left article{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 26px;
    background: rgba(255,255,255,0.5);
    color: #333333;
    text-align: center;
    font-size: 12px;
    line-height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}
.notice_right{
    width: 522px;
    height: 100%;
    padding-left: 42px;
}
.notice_right_ul{

}
.notice_right_li{
    color: #333333;
    line-height: 14px;
    padding: 18px 0;
    border-bottom: solid 1px #e1e1e1;
}
.notice_title{
    width: 338px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;

}
.notice_time{
   width: 142px;
    text-align: right;
    font-size: 14px;
    color: #999999;
}
/*官方通知结束*/

/*红头文件和下载文件开始*/
.files{
  margin-top: 50px;
  height:365px;
}
.files_box{
    width: 1000px;
    margin: 0 auto;
}
.red_head_files{
}
.files_top{
    padding-bottom: 14px;
    position: relative;
    border-bottom: solid 1px #e1e1e1;
}
.files_top:after{
    font-size: 18px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 6em;
    background: #d8b956;
}
.files_p{
    font-size: 18px;
    color: #333333;
    position: relative;
    line-height: 18px;
}
.files_p_title{
    margin-left: 1em;
}
.files_p .more_a{
    position: absolute;
    right: 0;
    top: 50%;
}
.files_main{
    padding: 0 0 5px;
}
.files_main_ul:after{
  content: '';
    display: block;
    clear: both;
}
.files_main_li{
    line-height: 14px;
    margin-bottom: 20px;
}
.files_main_li:nth-child(even){
    float: right;
}
.files_main_li:nth-child(odd){
    float: left;
}
/*.files_main_li:nth-child(5){*/
    /*float: right;*/
/*}*/
.red_head_files .notice_time{
    width: 132px;
}
/*红头文件和下载文件结束*/
/*中部结束*/

/*客服开始*/
.service{
    position: fixed;
    top: 50%;
    right: 0;
    /*background: skyblue;*/
    width: 60px;
}
.service_ul{
    font-size: 0;
    border: solid 1px #e1e1e1;
    border-bottom: 0;
    position: relative;
}
.service_ul:after{
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 100px;
    bottom: 100%;
    right: 0;
}
.service_li{
    width: 60px;
    height: 60px;
    border-bottom: solid 1px #e1e1e1;
    background: white;
    position: relative;
}
.service_li:hover{
    background: #b90100;
}
.service_li_a{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: white;
}
.number_a{
    background: url("../images/number_icon.png") center no-repeat white;
}
.number_a.service_li_a_active{
    background: url("../images/number_icon_active.png") center no-repeat;
}
.time_a{
    background: url("../images/time_icon.png") center no-repeat;
}
.time_a.service_li_a_active{
    background: url("../images/time_icon_active.png") center no-repeat;
}
.weixin_a{
    background: url("../images/weixin_icon.png") center no-repeat;
}
.weixin_a.service_li_a_active{
    background: url("../images/weixin_icon_active.png") center no-repeat;
}
.top_a{
    background: url("../images/top_icon.png") center no-repeat;
}
.top_a.service_li_a_active{
    background: url("../images/top_icon_active.png") center no-repeat;
}
.service_li_a_active+.service_erji_box{
    background: #b90100;
    opacity: 1;
}
.service_erji_box{
    width: 256px;
    font-size: 12px;
    color: white;
    padding: 10px 20px;
    position: absolute;
    right: -196px;
    z-index: -1;
    transition: right .5s;
    min-height: 80px;
    opacity: 0;
}
.weixin_erweima{
    margin: 0 auto;
}
.number_a+.service_erji_box{
    top: 0;
}
.time_a+.service_erji_box{
    top: 0;
}
.weixin_a+.service_erji_box{
    bottom: 0;
    top: initial;
    padding-bottom: 20px;
}
.weixin_erweima_title{
    margin-left: 16px;
    padding-bottom: 5px;
}
.weixin_erweima{
    width: 180px;
    height: 180px;
}
/*客服结束*/


/*首页结束*/


