/*
CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
      2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
      3. reset 提供一套适用于Condenast China旗下网站的基础样式。
*/
html { overflow-x: hidden; font-size: calc(100vw/3.75); font-family: "Microsoft YaHei"}

/** 清除内外边距 **/
body, div, p, h1, h2, h3, h4, h5, h6, blockquote,  /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre,  /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea,  /* form elements 表单元素 */
table,th,td /* table elements 表格元素 */{
    margin:0 0 0 0;
    padding:0;
    box-sizing: border-box;
}

img{
    display: block;
}

body,
button, input, select, textarea /* for ie */ {
    font: 12px/24px Arial, 'Microsoft Yahei',"宋体", sans-serif;
}
/*h1, h2, h3, h4, h5, h6 { font-size: 100%; }*/
address, cite, em, i { font-style: normal; } /* 将斜体扶正 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
li { list-style: none; }

/** 重置文本格式元素 **/
a { color: black; text-decoration: none; outline: none; blr:expression(this.onFocus=this.blur())}
/*a:hover { text-decoration: none; transition: .5s;}*/
a:link{
    text-decoration:none;
    /* 指正常的未被访问过的链接*/
}
a:visited{
    text-decoration:none;
    /*指已经访问过的链接*/
}
a:hover{
     text-decoration:none;
     color: #b90100;
     /*指鼠标在链接*/
 }
a:active{
    text-decoration:none;
    /* 指正在点的链接*/
}



/*表示a在获得焦点的同时失去焦点。如果你用的是图片链接什么的，它不会显示周边的虚线*/

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让a链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; line-height:normal; } /* 使得表单元素在 ie 下能继承字体大小 */

/** 重置表格元素 **/
table{ border-collapse: collapse; border-spacing: 0; }
input[type="button"],input[type="submit"],input[type="reset"]{cursor:pointer;}
input{outline: none}
/* ie6 7 8(q) bug  */
iframe{
    display:block;
}
div{
    display: block;
}
/*浮动*/
.fl{
    float: left;
}
.fr{
    float: right;
}
/* 清浮动 */
.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clearfix {
    zoom:1; /* for IE6 IE7 */
}
/*zoom:1;属性是IE浏览器的专有属性，Firefox等其它浏览器不支持。它可以设置或检索对象的缩放比例。除此之外，它还有其他一些小作用，比如触发ie的hasLayout属性，清除浮动、清除margin的重叠等。*/
/*a:link{ background: transparent }*/
/*a:visited{ background: transparent }*/
/*a:hover{ background: transparent;  }*/
/*a:active{ background: transparent; }*/
a img{ transition: all .3s ease-out;}
/*a:hover img{transform: scale(1,1)}*/
