<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plate.portalsite.admin.dao.MenuItemMapper">
    <resultMap type="com.plate.portalsite.common.entity.MenuItem" id="MenuItemResult">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="enTitle" column="enTitle"/>
        <result property="description" column="description"/>
        <result property="kind" column="kind"/>
        <result property="createtime" column="createtime"/>
        <result property="createuserid" column="createuserid"/>
        <result property="updatetime" column="updatetime"/>
        <result property="updateuserid" column="updateuserid"/>
        <result property="urladdr" column="urladdr"/>
        <result property="parentId" column="parentId"/>
        <result property="enableflag" column="enableflag"/>
        <result property="ordernum" column="ordernum"/>
        <result property="code" column="code"/>
    </resultMap>

    <select id="getAllItem" resultMap="MenuItemResult" parameterType="string">

        select * from m_item
    </select>

    <select id="getMenuList" resultMap="MenuItemResult" parameterType="string">

        select * from m_item
        where parentId = #{parentId}
    </select>


    <update id="update" parameterType="com.plate.portalsite.common.entity.MenuItem">

        update m_item
        <set>
            <if test="title != null">
                title= #{title},
            </if>
            <if test="enTitle != null">
                enTitle= #{enTitle},
            </if>
            <if test="kind != null">
                kind= #{kind},
            </if>
            <if test="updatetime != null">
                updatetime= #{updatetime},
            </if>
            <if test="updateuserid != null">
                updateuserid= #{updateuserid},
            </if>
            <if test="urladdr != null">
                urladdr= #{urladdr},
            </if>
            <if test="parentId != null">
                parentId= #{parentId},
            </if>
            <if test="enableflag != null">
                enableflag= #{enableflag},
            </if>
            <if test="ordernum != null">
                ordernum= #{ordernum},
            </if>
            <if test="code != null">
                code= #{code},
            </if>

        </set>
        where id= #{id}
    </update>

    <insert id="save" parameterType="com.plate.portalsite.common.entity.MenuItem">


        insert into m_item(
            id,
            title,
            enTitle,
            description,
            kind,
            createtime,
            createuserid,
            updatetime,
            updateuserid,
            urladdr,
            parentId,
            enableflag,
            ordernum,
            code
        )
        values(
            #{id},
            #{title},
            #{enTitle},
            #{description},
            #{kind},
            #{createtime},
            #{createuserid},
            #{updatetime},
            #{updateuserid},
            #{urladdr},
            #{parentId},
            #{enableflag},
            #{ordernum},
            #{code}
        )
    </insert>
</mapper>