<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plate.portalsite.admin.dao.MenuContentMapper">
    <resultMap type="com.plate.portalsite.common.entity.ItemContent" id="ItemContentResult">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="createdate" column="createdate"/>

        <result property="publishdate" column="publishdate"/>

        <result property="createId" column="createId"/>

        <result property="publishId" column="publishId"/>

        <result property="picId" column="picId"/>

        <result property="orgId" column="orgId"/>

        <result property="topflag" column="topflag"/>

        <result property="topCreateTime" column="topCreateTime"/>

        <result property="data" column="data"/>

        <result property="itemId" column="itemId"/>

        <result property="itemName" column="itemName"/>

        <result property="pubFlag" column="pubFlag" />
        <collection property="atts" column="atts" javaType="ArrayList" ofType="com.plate.portalsite.common.entity.Attachment">
            <id property="id" column="a_id"></id>
            <result property="servername" column="a_servername"></result>
        </collection>
    </resultMap>

    <select id="getItemContentById" resultMap="ItemContentResult">

        select * from m_itemContent
        where id = #{id}
    </select>

    <select id="getItemContentPageContent" resultType="long">
        select count(ic.id) from m_itemContent ic
        where 1=1
        <if test="itemId != null">
            and itemId = #{itemId}
        </if>
    </select>

    <select id="getItemContentPage" resultMap="ItemContentResult">
        select ic.*,a.id a_id,a.servername a_servername,m.title itemName
        from m_itemContent ic
        left join m_item  m on m.id  = ic.itemId
        left join m_att a on a.ownId = ic.id
        where 1=1
        <if test="itemId != null">
            and itemId = #{itemId}
        </if>
        limit ${startIndex},${endIndex}
    </select>

    <select id="getItemContentList" resultMap="ItemContentResult" parameterType="map">
        select c.*,i.title as itemName from m_itemContent c
        left join  m_item i on i.id = c.itemId
        where 1=1
        <if test="itemTypeId != null">

            and c.itemTypeId = #{itemTypeId}
        </if>
        <if test="title != null">
            and c.title like '%'+${title}+'%'
        </if>
        <if test="dateStart != null">

            c.createdate >= #{dateStart}
        </if>
        <if test="dateEnd != null">

            #{dateEnd}>=c.createdate
        </if>

        order by createdate desc,publishdate desc
        limit #{pageStart},#{pageEnd}
    </select>
    <update id="update" parameterType="com.plate.portalsite.common.entity.ItemContent">

        update m_itemContent
        <set>
            <if test="title != null">
                title= #{title},
            </if>
            <if test="createdate != null">
                createdate= #{createdate},
            </if>
            <if test="publishdate != null">
                publishdate= #{publishdate},
            </if>
            <if test="picId != null">
                picId= #{picId},
            </if>
            <if test="publishId != null">
                publishId= #{publishId},
            </if>
            <if test="orgId != null">
                orgId= #{orgId},
            </if>
            <if test="topflag != null">
                topflag= #{topflag},
            </if>
            <if test="topCreateTime != null">
                topCreateTime= #{topCreateTime},
            </if>
            <if test="data != null">
                data= #{data},
            </if>
            <if test="itemId != null">
                itemId= #{itemId},
            </if>
            <if test="pubFlag != null">
                pubFlag = #{pubFlag},
            </if>


        </set>
        where id= #{id}
    </update>

    <insert id="save" parameterType="com.plate.portalsite.common.entity.ItemContent">


        insert into m_itemContent(
             id,
             title,
             createdate,
             publishdate,
             createId,
              publishId,
             picId,
             orgId,
             topflag,
             topCreateTime,
             data,
             itemId,
             pubFlag
        )
        values(
            #{id},
            #{title},
            #{createdate},
            #{publishdate},
            #{createId},
            #{ publishId},
            #{picId},
            #{orgId},
            #{topflag},
            #{topCreateTime},
            #{data},
            #{itemId},
            #{pubFlag}
        )
    </insert>
    <delete id="deleteById">

        delete from m_itemContent
        where id= #{id}
    </delete>
</mapper>