<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plate.portalsite.admin.dao.MenuItemMapper">
    <resultMap type="com.plate.portalsite.common.entity.MenuItem" id="MenuItemResult">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="enTitle" column="enTitle"/>
        <result property="description" column="description"/>
        <result property="kind" column="kind"/>
        <result property="createtime" column="createtime"/>
        <result property="createuserid" column="createuserid"/>
        <result property="updatetime" column="updatetime"/>
        <result property="updateuserid" column="updateuserid"/>
        <result property="urladdr" column="urladdr"/>
        <result property="parentId" column="parentId"/>
        <result property="enableflag" column="enableflag"/>
        <result property="ordernum" column="ordernum"/>
    </resultMap>

    <select id="getAllItem" resultMap="MenuItemResult" parameterType="string">

        select * from m_item
    </select>
</mapper>