<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 配置文件 -->
    <script type="text/javascript"   th:src="@{/ueditor/ueditor.config.js}"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript"  th:src="@{/ueditor/ueditor.all.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/js/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.combotree.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.tabs.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.datagrid.js}"></script>
    <title>Title</title>
</head>
<body>
<script type="application/javascript"  th:inline="javascript">
    var ctxPath=[[${#httpServletRequest.getContextPath()}]];
</script>
<script type="application/javascript" th:inline="none">
    var ue = UE.getEditor('container');

    $(document).ready(function(){
        $('#item_id').combobox({
            valueField: 'id',
            textField: 'title',
            url:ctxPath+"/getContentType?type=content"
        });
        $('#dg').datagrid({
            url:ctxPath+"/getItemContentPage",
            columns:[[
                {field:"id",title:"id",width:100,hidden:true},
                {field:"num",title:"序号",width:100},
                {field:"kindId",title:"消息类型",width:100,hidden:true},
                {field:"kind",title:"消息类型",width:100},
                {field:"title",title:"消息标题",width:300},
                {field:"data",title:"内容",width:100,hidden:true},
                {field:"pubFlag",title:"是否发布",width:100,
                    formatter: function(value,row,index){
                        if (row.pubFlag == 0){
                            return "未发布";
                        } else {
                            return "已发布";
                        }
                    }},
                {field:"pubdate",title:"发布日期",width:100},
                {field:"data",title:"内容",width:100,hidden:true}
            ]],
            singleSelect:true,
            pagination:true,
            onSelect:function(rowIndex, rowData){
                enableForm(true);
                ue.setContent(rowData.data);

                $("#item_title").textbox("setValue",rowData.title);
                $('#item_id').combobox('setValue', rowData.kindId);
                $('#item_contentId').val(rowData.id);
            }
        });
    });

    function enableForm(flag) {
        if(flag)//flag 为true 禁用
            ue.setDisabled('preview');
        else
            ue.setEnabled();
        $("#item_title").textbox({"disabled": flag});
        $('#item_id').combobox({"disabled": flag});
        $('#titleFile').filebox({"disabled": flag});
    }
    function clearForm() {
        $("#formItemContent").form("clear");
        ue.setContent("");
    }
    /**
     * 删除
     */
    function deleContent() {
        var rows = $("#dg").datagrid("getSelections");
        if(rows.length == 0){
            $.messager.alert("请选择要删除的行");
            return;
        }
        $.messager.confirm('Confirm','确定删除选定的数据吗?',function(r){
            if (r){
                $.post(ctxPath+"/deleteItemContent",{"itemContentId":rows[0].id},function (data) {
                    $("#dg").datagrid("load");
                    clearForm();
                });
            }
        });
    }

    /**
     * 新建
     */
    function createContent() {
        //设置输入框可用
        enableForm(false);
        //清空form
        clearForm();
    }
    /**
     * 发布
     * @param index
     */
    function publishContent() {

        if($("#itemContent_pubFlag").val() == null){
            $("#itemContent_pubFlag").val("0");
        }
        var rows = $("#dg").datagrid("getSelections");
        if(rows.length == 0){
            $.messager.alert("请选择要发布的数据");
            return;
        }
        $.post(ctxPath+"/publishMenuContent",{"id":rows[0].id},function (data) {
            $("#dg").datagrid("load");
            $.messager.alert("successful","已发布");
            return;
        });
    }

    /**
     * 修改
     */
    function editContent() {
        //设置输入框可用
        enableForm(false);
    }
    function submitData() {
        $("#formItemContent").form("submit",{
            type: 'post',
            url: ctxPath+"/saveMenuContent",
            onSubmit: function (param) {
                console.info("123");
            },
            success: function (data) {
                $("#dg").datagrid("load");
                clearForm();
                enableForm(true);
                $.messager.alert("successful!","保存成功!");
            }
        });
    }

</script>
<!--功能按钮-->
<!--数据表格-->
<div>
    <a id="btnAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add' " onclick="createContent()">新建</a>
    <a id="btnUpdate" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-update'" onclick="editContent()" >修改</a>
    <a id="btnSave" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="submitData()">保存</a>
    <a id="btnDelete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-delete'"  onclick="deleContent()">删除</a>
    <a id="btnSearch" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="publishContent()">发布</a>
</div>
<table id="dg">
</table>
<form action="#" method="post" id="formItemContent" style="margin-top: 15px" enctype="multipart/form-data">
    <table>
        <input id="item_contentId" name="id" type="hidden"></td></td>
        <input id="itemContent_pubFlag" name="pubFlag" type="hidden"  value="0"/>
        <tr>
            <td>标题</td>
            <td><input id='item_title' name="title" class="easyui-textbox" data-options="disabled:true" style="width:300px"></td>
        </tr>
        <tr>
            <td>消息类型</td>
            <td><input id="item_id" name="itemId" data-options="disabled:true"></td>
        </tr>
        <tr>
            <td>标题图片</td>
            <td><input id="titleFile" name="titleFile" class="easyui-filebox" style="width:300px" data-options="disabled:true,multiple:false,accept:'image/jpeg'">
            </td>
        </tr>
    </table>
    <textarea id="container" name="data" type="text/plain" contentEditable="true"></textarea>
</form>

<!--表单-->
<table style="margin-top: 20px" id = "formTab">
</table>
</body>
</html>