<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/js/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.combotree.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.tabs.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.datagrid.js}"></script>
    <title>Title</title>
</head>
<body>
<script type="application/javascript" th:inline="javascript">
    var ctxPath=[[${#httpServletRequest.getContextPath()}]];
    $(document).ready(function(){
        //获取rootId子节点数据
        $.get(ctxPath+"/getTabInfo?type=content", function(data){

            $.get(ctxPath+"/getItemContentList?pageSize=10&pageNum=1", function(list){
                //初始化表格
                $('#dg').datagrid({
                    data: list,
                    columns:[{field:"id",title:"id",hidden:true},
                        {field:"num",width:300,title:"序号"},
                        {field:"title",width:300,title:"标题"},
                        {field:"pubFlag",width:300,title:"是否发布"},
                        {field:"publishDate",width:300,title:"发布日期"},
                        {field:"itemName",width:300,title:"消息类型"}],
                    singleSelect:true,
                    onClickRow:function(rowIndex,rowData){
                        var keys = Object.keys(rowData);
                        for(var i=0;i<keys.length;i++){
                            $("#formItem_"+keys[i]).val(rowData[keys[i]]);
                        }
                    }
                });
            });

            $('#pp').pagination({
                total:data.total,
                pageSize:data.size
            });
        });

        $('#mb').menubutton({
            iconCls: 'icon-edit',
            menu: '#mm'
        });
    });

    function formatOper(val, row, index) {
        return '<a href="javascript:void(0)" onclick="showUser(' + index
            + ')">查看</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" οnclick="editTeacher(' + index
            + ')">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" οnclick="dele()">删除</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
    }
    //保存
    function submitData() {

        var inputs = $(".formItem");
        console.info(inputs);
        var urlParams = "?";
        for (var i=0;i<inputs.length;i++) {

            var name = inputs[i].name;
            var value = inputs[i].value;
            urlParams = urlParams+name+"="+value+"&";
        }
        var parentId = [[${rootId}]];
        urlParams += "parentId="+parentId;
        $.ajax({
            type: "POST",
            url: ctxPath+"/saveOrUpdateMenuItem"+urlParams,
            success: function(msg){
                //刷新table
                $('#dg').datagrid('reload',ctxPath+"/getTreeList?parentId="+[[${rootId}]]);

                parent.$("#itemtree").tree('reload');
            }
        });
    }
    //删除
    function deleteData() {
        var inputs = $(".formItem,name=[id]")
        $.messager.confirm('Confirm','此操作会删除节点下的子节点?',function(r){
            if (r){
                alert('ok');
            }
        });
    }
</script>
<!--功能按钮-->
<div>
    <a id="btnAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add' ">新建</a>
    <a id="btnUpdate" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-update'" >修改</a>
    <a id="btnSave" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="submitData()">保存</a>
    <a id="btnDelete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-delete'"  onclick="deleteData()">删除</a>
    <a id="btnSearch" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
</div>
<!--数据表格-->
<table id="dg">
</table>
<div id="pp" style="background:#efefef;border:1px solid #ccc;"></div>

<!--表单-->
<table style="margin-top: 20px" id = "formTab">
</table>
</body>
</html>