<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="jquery,ui,easy,easyui,web">
	<meta name="description" content="easyui help you build your web page easily!">
	<title>jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/default/easyui.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/icon.css}">
	<script type="text/javascript" th:src="@{/js/easyui/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.combotree.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.tabs.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.datagrid.js}"></script>
	<script type="text/javascript" th:inline="javascript">

        var ctxPath=[[${#httpServletRequest.getContextPath()}]];
        $(document).ready(function(){
			//alert('java');
		});
	</script>
</head>
<body>
	<div class="easyui-layout" style="width:100%;height:900px;">
		<div id="top" region="north" title="网站管理平台" style="height:160px; width: 98%">
		</div>
		<!--<div region="west" split="true" title="导航" style="width:20%;">-->
			<!--&lt;!&ndash;菜单&ndash;&gt;-->
			<!--<ul id="itemtree"></ul>-->
			<div id="aa" class="easyui-accordion" region="west" style="width:20%;">
				<div title="导航栏管理"   style="overflow:auto;padding:10px;">
					<ul id="itemtree"></ul>
				</div>
				<div title="消息动态管理"  data-options="selected:true" style="padding:10px;">
					<!--<ul><a href="javascript:void(0)" onclick="createNewsContent()">消息新建</a></ul>-->
					<ul><a href="javascript:void(0)" onclick="manageNewsContent()">消息管理</a></ul>
					<ul><a href="javascript:void(0)" onclick="manageSysContent()">系统变量设置</a></ul>
				</div>
			</div>
		<!--</div>-->
		<div id="content" region="center" style="padding:5px; width: 78%;height: 70% ">
			<!--内容tab-->
			<div id="contentTabs" class="easyui-tabs" style="width: 100%; height: auto">
			</div>
		</div>
	</div>
</body>
<script type="application/javascript" th:inline="javascript">
    var context = [[@{/}]];
	//alert(context);
	var tabs = new Array();
    var tablesItem   = ['menuItem','pageEditor','contentList'];
    $(document).ready(function(){
        //初始化树节点
        $('#itemtree').tree({
            url:ctxPath+'/getAllItem',
            formatter:function(node){
                return node.title;
            },
            onClick: function(node){
				var url =  ctxPath+"/itemPag"+"?rootId="+node.id;
                opentab(node,tablesItem[0],url);
            }
        });
    });
 	var createNewsContent = function(){

 		var node = {id:"123123",title:"新建消息"}
		var url =  ctxPath+"/itemEditor";
		opentab(node,tablesItem[1],url);
	}

			/**
			 * 消息管理页面
			 */
	var manageNewsContent = function(){
 		var node = {id:"123124",title:"消息管理"};
 		var url = ctxPath+"/contentList";
		opentab(node,tablesItem[2],url);
	};
	function   manageSysContent(){
		var node = {id:"123125",title:"系统信息管理"};
		var url = ctxPath+"/sysInfoList";
        opentab(node,tablesItem[2],url);
    }
    //根据根节点打开右侧内容窗口
    var opentab = function(node,type,url){

        var content = '<iframe frameborder="0"  src="'+url+'" style="width:100%;height: 680px;" id="'+node.id+'"></iframe>';

        $('#contentTabs').tabs('add',{
			title:node.title,
			content: content,
			closable:true,
			tools:[{
				iconCls:'icon-mini-refresh',
				handler:function(){
					alert('refresh');
				}
			}]
		});
    }


   </script>

</html>