<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ueditor demo</title>
	<!-- 配置文件 -->
	<script type="text/javascript"   th:src="@{/ueditor/ueditor.config.js}"></script>
	<!-- 编辑器源码文件 -->
	<script type="text/javascript"  th:src="@{/ueditor/ueditor.all.js}"></script>
	<script type="text/javascript"  th:src="@{/ueditor/ueditor.all.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/default/easyui.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/icon.css}">
	<script type="text/javascript" th:src="@{/js/easyui/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.combotree.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.tabs.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.datagrid.js}"></script>
</head>

<body>
<!-- 加载编辑器的容器 -->
<form  method="post" id="itemContent" enctype="multipart/form-data">
	<table>
		<tr><td>消息类型</td>
			<td><input id="itemContent_type" name="itemId"></td>
		</tr>
		<tr>
			<td>消息标题</td>
			<td><input id='itemContent_title' name="title" class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:300px">
			</td>
		</tr>
        <tr>
            <td>标题图片</td>
            <td><input id="titleFile" name="titleFile" class="easyui-filebox" style="width:300px" data-options="multiple:false,accept:'image/jpeg'">
            </td>
        </tr>
	</table>
	<input type="hidden" id="itemContent_pubFlag" name="pubFlag" value="0"/>
	<textarea id="container" name="data" type="text/plain">这里写你的初始化内容</textarea>
	<button id="btn" name="submit" onclick="postData()">保存</button>
	<button id="btnFb" name="submit" onclick="postData(1)">发布</button>
</form>

<!-- 实例化编辑器 -->
<script type="text/javascript">
	$('#itemContent_type').combobox({
		valueField: 'id',
		textField: 'title',
		url:'http://localhost:8080/getContentType'
	});
	var ue = UE.getEditor('container');
	function postData( pubFlag) {
		if(pubFlag==1){
			$('#itemContent_pubFlag').val("1");
		}
	    $("#itemContent").form("submit",{
			type: 'post',
			url: 'http://localhost:8080/saveMenuContent',
			onSubmit: function (param) {
				console.info("123");
			},
			success: function (data) {}
		});
	}
</script>
</body>

</html>