<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/icon.css}">
    <!-- 配置文件 -->
    <script type="text/javascript"   th:src="@{/ueditor/ueditor.config.js}"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript"  th:src="@{/ueditor/ueditor.all.js}"></script>
    <script type="text/javascript"  th:src="@{/ueditor/ueditor.all.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.combotree.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.tabs.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.datagrid.js}"></script>
    <title>Title</title>
</head>
<body>
<script type="application/javascript" th:inline="javascript">
    var ctxPath=[[${#httpServletRequest.getContextPath()}]];
    var rootId = [[${rootId}]];
</script>
<script type="application/javascript" th:inline="none">

    //初始化标签
    var ue = UE.getEditor('containerItem');
    $(document).ready(function(){
        $("#formItem_kind").combobox({
            valueField: 'id',
            textField: 'title',
            url:ctxPath+"/getContentType?type=menu"
        })
        //获取rootId子节点数据
        $.get(ctxPath+"/getTreeList?parentId="+rootId, function(list){
            //初始化表格
            $('#dg').datagrid({
                data: list,
                columns:[[
                    {field:"id",title:"id",width:100,hidden:true},
                    {field:"num",title:"序号",width:100},
                    {field:"data",title:"内容",width:100,hidden:true},
                    {field:"title",title:"标题",width:300},
                    {field:"code",title:"编码",width:100},
                    {field:"enTitle",title:"英文标题",width:100},
                    {field:"kind",title:"类型",width:100,
                        formatter: function(value,row,index){
                            if (row.kind == 0){
                                return "首页导航栏";
                            } else if(row.kind == 2) {
                                return "内容导航栏";
                            } else if(row.kind == 3) {
                                return "消息型导航栏";
                            }else {
                                return "其他";
                            }
                        }},
                    {field:"description",title:"描述",width:100}
                ]],
                singleSelect:true,
                onClickRow:function(rowIndex,rowData){

                    enableForm(true);
                    ue.setContent(rowData.data);
                    $("#formItem_id").textbox("setValue", rowData.id);
                    $("#formItem_num").textbox("setValue", rowData.num);
                    $("#formItem_title").textbox("setValue", rowData.title);
                    $("#formItem_code").textbox("setValue", rowData.code);
                    $("#formItem_enTitle").textbox("setValue", rowData.enTitle);
                    $("#formItem_kind").textbox("setValue", rowData.kind);
                }
            });
        });

    });
    //保存
    function submitData() {

        $.ajax({
            type: "post",
            url: ctxPath+"/saveOrUpdateMenuItem",
            data: $("#itemForm").serialize(),
            success: function(msg){
                //刷新table
                $('#dg').datagrid('reload',ctxPath+"/getTreeList?parentId="+rootId);
                parent.$("#itemtree").tree('reload');
                clearForm();
                enableForm(true);
            }
        });
    }
    function enableForm(flag) {
        if(flag)//flag 为true 禁用
            ue.setDisabled('preview');
        else
            ue.setEnabled();

        $("#formItem_id").textbox({"disabled": flag});
        $("#formItem_num").textbox({"disabled": flag});
        $("#formItem_title").textbox({"disabled": flag});
        $("#formItem_code").textbox({"disabled": flag});
        $("#formItem_enTitle").textbox({"disabled": flag});
        $("#formItem_kind").textbox({"disabled": flag});
        $("#formItem_description").textbox({"disabled": flag});
        $("#formItem_parentId").val(rootId);
    }
    function clearForm() {
        $("#itemForm").form("clear");
        ue.setContent("");
        $("#formItem_parentId").val(rootId);
    }
    //删除
    function deleteData() {
        var inputs = $(".formItem,name=[id]")
        $.messager.confirm('Confirm','此操作会删除节点下的子节点?',function(r){
            if (r){
                alert('ok');
            }
        });
    }
    function createItem() {
        $("#itemForm").form("clear");
        enableForm(false);
    }
    /**
     * 修改
     */
    function editContent() {
        //设置输入框可用
        enableForm(false);
    }
</script>
<!--功能按钮-->
<div id="buttonSpan">
    <a id="btnAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add' " onclick="createItem()">新建</a>
    <a id="btnUpdate" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-update'"  onclick="editContent()">修改</a>
    <a id="btnSave" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="submitData()">保存</a>
    <a id="btnDelete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-delete'"  onclick="deleteData()">删除</a>
    <a id="btnSearch" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
</div>
<!--数据表格-->
<table id="dg">
</table>
<div id="pp" style="background:#efefef;border:1px solid #ccc;"></div>

<!--表单-->
<form id  = "itemForm">
    <input type="hidden" name="parentId" id="formItem_parentId" th:value = "${rootId}"/>
    <table style="margin-top: 20px" id = "formTab">
            <input id="formItem_id" name="id" type="hidden"/>
            <tbody>
        <tr>
            <td>标题</td>
            <td><input id="formItem_title" name="title" class="easyui-textbox" data-options="disabled:true" ></td>
        </tr><tr>
            <td>编码</td>
            <td><input id="formItem_code" name="code" class="easyui-textbox" data-options="disabled:true"  ></td>
        </tr><tr>
            <td>英文标题</td>
            <td><input id="formItem_enTitle" name="enTitle" class="easyui-textbox" data-options="disabled:true" ></td>
        </tr><tr>
            <td>描述</td>
            <td><input id="formItem_description" name="description"  class="easyui-textbox" data-options="disabled:true" ></td>
        </tr><tr>
            <td>类型</td>
            <td><input id="formItem_kind" name="kind" data-options="disabled:true"></td>
        </tr>
            </tbody>
        </table>
    </table>
    <textarea id="containerItem" name="data" type="text/plain" contentEditable="true"></textarea>
</form>
</body>
</html>