<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ueditor demo</title>
	<!-- 配置文件 -->
	<script type="text/javascript"   th:src="@{/ueditor/ueditor.config.js}"></script>
	<!-- 编辑器源码文件 -->
	<script type="text/javascript"  th:src="@{/ueditor/ueditor.all.js}"></script>
	<script type="text/javascript"  th:src="@{/ueditor/ueditor.all.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/default/easyui.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/icon.css}">
	<script type="text/javascript" th:src="@{/js/easyui/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.combotree.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.tabs.js}"></script>
	<script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.datagrid.js}"></script>
</head>

<body>
<!-- 加载编辑器的容器 -->
<form th:action="@{/news/addNews.do}" method="post" id="itemContent">
	<table>
		<tr><td>消息类型</td>
			<td><input id="itemContent_type" name="001"></td>
		</tr>
		<tr>
			<td>消息标题</td>
			<td><input id='itemContent_title' class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:300px">
			</td>
		</tr>

	</table>
	<textarea id="container" name="content" type="text/plain">这里写你的初始化内容</textarea>
	<button id="btn" name="submit">提交</button>
</form>

<!-- 实例化编辑器 -->
<script type="text/javascript">
	$('#itemContent_type').combo({
		required:true
	});
	$('#itemContent_type').combo('setValues',[
		{"id":1,"name":"xiaohong1"},
		{"id":2,"name":"xiaohong2"},
		{"id":3,"name":"xiaohong3"},
		{"id":4,"name":"xiaohong4"}
	])
	var ue = UE.getEditor('container');
	function postDate() {
	}
</script>
</body>

</html>