<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/js/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/js/easyui/themes/icon.css">
    <script type="text/javascript" src="http://localhost:8080/js/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="http://localhost:8080/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="http://localhost:8080/js/easyui/plugins/jquery.combotree.js"></script>
    <script type="text/javascript" src="http://localhost:8080/js/easyui/plugins/jquery.tabs.js"></script>
    <script type="text/javascript" src="http://localhost:8080/js/easyui/plugins/jquery.datagrid.js"></script>
    <title>Title</title>
</head>
<body>
<script type="application/javascript">
    $(document).ready(function(){
        var type = getUrlArgStr();
        $.get("http://localhost:8080/getTabInfo", function(data){
            console.info(data.tableCols);
            $('#dg').datagrid({
                data: [
                    {code:'value11', name:'value12', price:'232'},
                    {code:'value21', name:'value22', price:'232'},
                    {code:'value21', name:'value22', price:'232'},
                    {code:'value21', name:'value22', price:'232'},
                    {code:'value21', name:'value22', price:'232'},
                    {code:'value21', name:'value22', price:'232'},
                    {code:'value21', name:'value22', price:'232'},
                    {code:'value21', name:'value22', price:'232'},
                    {code:'value21', name:'value22', price:'232'},
                    {code:'value21', name:'value22', price:'232'}
                ],
                columns:[data.tableCols],
            });
            $('#pp').pagination({
                total:2000,
                pageSize:10
            });
        });

        $('#mb').menubutton({
            iconCls: 'icon-edit',
            menu: '#mm'
        });
    });

    function getUrlArgStr(){
        var q=location.search.substr(1);
        var qs=q.split('&');
        var argStr='';
        if(qs){
            for(var i=0;i<qs.length;i++){
                argStr+=qs[i].substring(0,qs[i].indexOf('='))+'='+qs[i].substring(qs[i].indexOf('=')+1)+'&';
            }
        }
        return "menuItem";
    }
    //返回的是对象形式的参数
    function getUrlArgObject(){
        var args=new Object();
        var query=location.search.substring(1);//获取查询串
        var pairs=query.split(",");//在逗号处断开
        for(var i=0;i<pairs.length;i++){
            var pos=pairs[i].indexOf('=');//查找name=value
            if(pos==-1){//如果没有找到就跳过
                continue;
            }
            var argname=pairs[i].substring(0,pos);//提取name
            var value=pairs[i].substring(pos+1);//提取value
            args[argname]=unescape(value);//存为属性
        }
        return args;//返回对象
    }
</script>
<!--功能按钮-->
<div>
    <a id="btnAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新建</a>
    <a id="btnUpdate" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-update'">修改</a>
    <a id="btnDelete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-delete'">删除</a>
    <a id="btnSearch" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
</div>
<!--数据表格-->
<table id="dg">
</table>
<div id="pp" style="background:#efefef;border:1px solid #ccc;"></div>

<!--表单-->
<table style="margin-top: 20px">
    <tr>
        <td>标题：</td>
        <td><input name="title" class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:300px"></td>
    </tr>
    <tr>
        <td>英文名称：</td>
        <td><input name="enTitle" class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:300px"></td>
    </tr>
    <tr>
        <td>描述：</td>
        <td><input name="description" class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:300px"></td>
    </tr>
    <tr>
        <td>类型</td>
        <td><input name="kind" class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:300px"></td>
    </tr>
    <tr>
        <td>禁用：</td>
        <td><input name="enableflag" class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:300px"></td>
    </tr>
    <tr>
        <td>排序：</td>
        <td><input name="ordernum" class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:300px"></td>
    </tr>
</table>
</body>
</html>