<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 配置文件 -->
    <script type="text/javascript"   th:src="@{/ueditor/ueditor.config.js}"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript"  th:src="@{/ueditor/ueditor.all.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/js/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.combotree.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.tabs.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/plugins/jquery.datagrid.js}"></script>
    <title>Title</title>
</head>
<body>
<script type="application/javascript"  th:inline="javascript">
    var ctxPath=[[${#httpServletRequest.getContextPath()}]];
</script>
<script type="application/javascript" th:inline="none">

    $(document).ready(function(){

        $('#dg').datagrid({
            url:ctxPath+"/getSysInfoPage",
            columns:[[
                {field:"id",title:"id",width:100,hidden:true},
                {field:"name",title:"名称",width:300},
                {field:"syscode",title:"代码",width:100},
                {field:"sysvalue",title:"内容",width:100},
                {field:"description",title:"描述",width:400},
                {field:"canDel",title:"是否可删除",width:100,
                    formatter: function(value,row,index){
                        if (row.canDel == 0){
                            return "能";
                        } else {
                            return "不能";
                        }
                 }}
            ]],
            singleSelect:true,
            pagination:true,
            onSelect:function(rowIndex, rowData){
                enableForm(true);
                $('#sysinfo_id').val(rowData.id);
                $('#sysinfo_canDel').val(rowData.canDel);
                $('#sysinfo_name').textbox("setValue",rowData.name);
                $('#sysinfo_syscode').textbox("setValue",rowData.syscode);
                $('#sysinfo_sysvalue').textbox("setValue",rowData.sysvalue);
                $('#sysinfo_description').textbox("setValue",rowData.description);
            }
        });
    });

    function clearForm() {
        $("#formsysInfo").form("clear");
    }
    function enableForm(flag) {
        $('#sysinfo_name').textbox({"disabled": flag});
        $('#sysinfo_syscode').textbox({"disabled": flag});
        $('#sysinfo_sysvalue').textbox({"disabled": flag});
        $('#sysinfo_description').textbox({"disabled": flag});
    }
    /**
     * 删除
     */
    function deleContent() {

        var rows = $("#dg").datagrid("getSelections");
        if(rows.length == 0){

            $.messager.alert('info','请选择要删除的行!','info');
            return;
        }
        if("1" == rows[0].canDel){
            $.messager.alert('info','选择的行不能被删除!','info');
            return;        }
        $.messager.confirm('Confirm','确定删除选定的数据吗?',function(r){
            if (r){
                $.post(ctxPath+"/deleteById",{"id":rows[0].id},function (data) {
                    $("#dg").datagrid("load");
                    clearForm();
                });
            }
        });
    }

    /**
     * 新建
     */
    function createContent() {
        //设置输入框可用
        enableForm(false);
        //清空form
        clearForm();
    }
    /**
     * 修改
     */
    function editContent() {
        //设置输入框可用
        enableForm(false);
    }
    function submitData() {
        if($("#sysinfo_canDel").val() == null){
            $("#sysinfo_canDel").val("0");
        }

        $("#formsysInfo").form("submit",{
            type: 'post',
            url: ctxPath+"/saveOrUpdateSysInfo",
            onSubmit: function (param) {
                console.info("123");
            },
            success: function (data) {
                $("#dg").datagrid("load");
                clearForm();
                enableForm(true);
                $.messager.alert("successful!","保存成功!");
            }
        });
    }

</script>
<!--功能按钮-->
<!--数据表格-->
<div>
    <a id="btnAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add' " onclick="createContent()">新建</a>
    <a id="btnUpdate" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-update'" onclick="editContent()" >修改</a>
    <a id="btnSave" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="submitData()">保存</a>
    <a id="btnDelete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-delete'"  onclick="deleContent()">删除</a>
</div>
<table id="dg">
</table>
<form action="#" method="post" id="formsysInfo" style="margin-top: 15px" enctype="multipart/form-data">
    <table>
        <input id="sysinfo_id" name="id" type="hidden"></td></td>
        <input id="sysinfo_canDel" name="canDel" type="hidden"></td></td>
        <tr>
            <td>名称</td>
            <td><input id='sysinfo_name' name="name" class="easyui-textbox" data-options="disabled:true" style="width:300px"></td>
        </tr>
        <tr>
            <td>代码</td>
            <td><input id='sysinfo_syscode' name="syscode" class="easyui-textbox" data-options="disabled:true" style="width:300px"></td>
        </tr>
        <tr>
            <td>内容</td>
            <td><input id='sysinfo_sysvalue' name="sysvalue" class="easyui-textbox" data-options="disabled:true" style="width:300px"></td>
        </tr>
        <tr>
            <td>描述</td>
            <td><input id='sysinfo_description' name="description" class="easyui-textbox" data-options="disabled:true" style="width:300px"></td>
        </tr>
    </table>
</form>

<!--表单-->
<table style="margin-top: 20px" id = "formTab">
</table>
</body>
</html>