<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <title>CSDA全国街舞执行委员会官方网站</title>
    <link href="#/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="./csda_files/bootstrap.min.css}" th:href="@{/csda_files/bootstrap.min.css}">
    <link rel="stylesheet" href="./csda_files/public.css}" th:href="@{/csda_files/public.css}">
    <link rel="stylesheet" href="./csda_files/index.css}" th:href="@{/csda_files/index.css}">
    <link rel="stylesheet" href="./csda_files/reset.css}" th:href="@{/csda_files/reset.css}">
    <link rel="stylesheet" href="./csda_files/pager.css" th:href="@{/csda_files/pagination.css}">
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script th:src="@{/csda_files/jquery.min.js}"></script>
    <script th:src="@{/csda_files/bootstrap.min.js}"></script>
    <script th:src="@{/csda_files/global.js}"></script>
    <script th:src="@{/js/pagination.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var ctxPath=[[${#httpServletRequest.getContextPath()}]];
        function managementLogin() {
            var domainCtx = getDomainCtx();
            window.open(domainCtx + "/pc-web/management/login.jsp");
        }

        function loadItemContent(itemContents){
            $("#mainItem").addClass("notice");
            $('#mainItem').html("");
            var strHtml = "";
            if(itemContents.length>0)
                strHtml+="<div class=\"notice_box\">\n" +
                    "                <h2>"+[[${currItem.title}]]+"</h2>\n" +
                    "                <div class=\"main_notice_box\">\n" +
                    "                    <div class=\"notice_main_ul\">\n" +
                    "                        <ul class=\"notice_right_ul\"  data-id=\"2c91e8f3607d7d2601608b68182f002b\">\n";

            for(var i=0;i<itemContents.length;i++){
                strHtml += "<li class=\"notice_main_li\" >\n" ;
                strHtml += " <div class=\"notice_main_li_left verti\">\n" ;
                strHtml += " &middot;<a href=\""+ctxPath+"/index/"+[[${currItem.id}]]+"?itemcontentId="+itemContents[i].id+"\">"+itemContents[i].title+"</a>\n" ;
                strHtml += "</div>\n" ;
                strHtml += "<div class=\"notice_main_li_right verti\">\n" ;
                strHtml += "2019-12-13\n" ;
                strHtml += "</div>\n" ;
                strHtml += "</li>"
            }
            strHtml +="\n" +
                    "                        </ul>\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "            </div>";
            $('#mainItem').html(strHtml);
        }
        $(document).ready(function() {

            // if([[${isFirstPage}]]==1){
                $('#wrapper').pagination({
                        dataSource: ctxPath+"/getItemContentPage?itemId="+[[${currItem.id}]], //请求的url
                        locator: 'result.itemContents', //返回值data的位置
                        totalNumberLocator: function (res) { //返回值总数量的位置
                            return Math.floor(res.totalCount);
                        },
                        numPerPage: 10,
                        pageRange: 1,
                        className: '',
                        hideWhenLessThanOnePage:true,
                        prevText: '<&nbsp;上一页',
                        nextText: '下一页&nbsp;>',
                        showGoInput: false,
                        showGoButton: false,
                        callback: function (result, pagination) {   //回掉函数
                            $('#data-container').html(loadItemContent(result));
                        }
                });
            // }
            console.info(ctxPath);
        });
    </script>
    <style>

        .notice_main_li_left {
            width: 680px;
        }
        .verti {
            display: inline-block;
            vertical-align: middle;
        }
        .notice_main_li_right {
            width: 264px;
            text-align: right;
            font-size: 14px;
            color: #999999;
        }
        .notice_main_li {
            position: relative;
            line-height: 14px;
            padding: 12px 0 12px 20px;
            font: 14px/24px Arial, 'Microsoft Yahei',"宋体", sans-serif;
        }
        .notice_box h2 {
            font-size: 24px;
            color: #333;
            padding-bottom: 14px;
        }
        .notice_main_li::before {
            content: '';
            display: block;
            position: absolute;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background: #333;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        ul, li {
            list-style: none;
        }

        #wrapper {
            width: 900px;
            margin: 20px auto;
        }

        .data-container {
            margin-top: 5px;
        }

        .data-container ul {
            padding: 0;
            margin: 0;
        }

        .data-container li {
            margin-bottom: 5px;
            padding: 5px 10px;
            background: #eee;
            color: #666;
        }
        .page_box {
            text-align: center;
            padding: 30px 0;
        }
        .paginationjs .paginationjs-pages li.active>a {
            height: 30px;
            line-height: 30px;
            background: #b90100;
            color: #fff;
        }
    </style>
</head>

<body>
<!--头部开始-->
<!--顶部LOGO开始-->
<header id="header">
    <div class="index_header">
        <img class="logo verti" th:src="@{/csda_files/logo.png}">
        <!--<a class="help verti" href="help/help.html">帮助</a>-->
        <a class="user verti" href="javascript:void(0);" onclick="managementLogin();">管理员登录</a>
    </div>
</header>
<!--顶部LOGO结束-->
<!--导航开始-->
<nav>
    <div class="index_nav">
        <ul class="nav_ul">
            <li class="nav_li" th:each="item:${allItem[0].children}">
                <a class="nav_active nav_li_a" th:text="${item.title}" th:id="${item.id}"
                   th:href="@{'/index/'+${item.id}}"></a>

                <ul th:if="${item.children.size() != 0}">
                    <li th:each="item2:${item.children}">
                        <a th:text="${item2.title}" th:id="${item2.id}"
                           th:href="@{'/index/'+${item2.id}}"></a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--导航结束-->
<!--头部结束-->
<!--中部开始-->
<main th:if="${isFirstPage == 0}">
    <div class="main_slide">
        <div class="main_slide_box">
            <!--轮播开始-->
            <div class="index_slide">
                <div id="carousel-example-generic" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a href="http://www.csda.cn.com/csda/wx/indx/notice_content.html?articleId=2c91e8f36d51c4a8016dd3f50c4c75a1">
                                <img th:src="@{/csda_files/df971a97-d07f-4e97-b906-e7f7f06ae3ab_微信图片_20191016174552.jpg}"
                                     alt="12月21日第三届CSDL中街联赛北京赛区报名通道开启！">
                                <article>12月21日第三届CSDL中街联赛北京赛区报名通道开启！</article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.csda.cn.com/csda/wx/indx/notice_content.html?articleId=2c91e8f36d51c4a8016deda830af1c1a">
                                <img th:src="@{/csda_files/01860ed3-5050-4f32-b467-f7edbba25b9a_微信图片_20191021161356_1.jpg}"
                                     alt="CSDA贵州分委“走进校园”---助力扶贫活动">
                                <article>CSDA贵州分委“走进校园”---助力扶贫活动</article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.csda.cn.com/csda/wx/indx/notice_content.html?articleId=2c91e8f36d51c4a8016dbe950ba650d6">
                                <img th:src="@{/csda_files/bc913d07-13e8-426d-813d-cf0d376ae8c7_微信图片_20191012114121.jpg}"
                                     alt="	2019CSDA陕西分委十月扩大会议新闻报道！">
                                <article> 2019CSDA陕西分委十月扩大会议新闻报道！</article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.csda.cn.com/csda/wx/indx/notice_content.html?articleId=2c91e8f36d51c4a8016daa21135d380f">
                                <img th:src="@{/csda_files/711667e6-1598-44ec-8c75-0e0206a19f3b_微信图片_20191008144408_1.jpg}"
                                     alt="第三届CSDL中街联赛湖北赛区圆满落幕！">
                                <article>第三届CSDL中街联赛湖北赛区圆满落幕！</article>
                            </a></div>
                        <div class="item">
                            <a href="http://www.csda.cn.com/csda/webPC/committee_dynamics/committee_article.html?articleId=2c91e8f36d51c4a8016d8c1d4aa22d72">
                                <img th:src="@{/csda_files/b68e342f-c1bf-4a56-93e7-f2832aebc5a1_312312.jpg}"
                                     alt="第三届CSDL中街联赛东三省赛区 | 打响CSDL赛事第一站！祖国70华诞繁荣昌盛！">
                                <article>第三届CSDL中街联赛东三省赛区 | 打响CSDL赛事第一站！祖国70华诞繁荣昌盛！</article>
                            </a></div>
                        <div class="item">
                            <a href="http://www.csda.cn.com/csda/wx/indx/notice_content.html?articleId=2c91e8f36d047589016d434fea122cca">
                                <img th:src="@{/csda_files/1bb30864-bca7-4a8b-bd91-25a1b8eadc32_36316816eb5456786ff1730d1c4dde9.jpg}"
                                     alt="第三届CSDL中街联赛再度袭来！">
                                <article>第三届CSDL中街联赛再度袭来！</article>
                            </a></div>
                        <div class="item">
                            <a href="http://www.csda.cn.com/csda/wx/indx/notice_content.html?articleId=2c91e8f36d047589016d3e93ff9c2888">
                                <img th:src="@{/csda_files/367c034f-4b20-40f5-b0cb-a32ef40fb61b_微信图片_20190925170707.jpg}"
                                     alt="第三届CSDL中街联赛天河CBD广东站再度引爆花城！">
                                <article>第三届CSDL中街联赛天河CBD广东站再度引爆花城！</article>
                            </a></div>
                        <div class="item">
                            <a href="http://www.csda.cn.com/csda/wx/indx/notice_content.html?articleId=2c91e8f36d51c4a8016d676d39db1467">
                                <img th:src="@{/csda_files/b21edd7f-60dd-48ba-8e50-cc74c2f19202_5.jpg}"
                                     alt="第三届CSDL中街联赛湖北赛区将在襄阳开战！">
                                <article>第三届CSDL中街联赛湖北赛区将在襄阳开战！</article>
                            </a></div>
                        <div class="item"><a
                                href="http://www.csda.cn.com/csda/wx/TextbookVideo/grading_city.html?noticeId=2c91e8f36cdb5f5c016d014a8c59263a">
                            <img th:src="@{/csda_files/71aab039-61fb-4b23-a1d4-e539e9d7e895_微信图片_20190910141152.jpg}"
                                 alt="CSDA2019全国街舞大众考级-北京站报名通道开启！">
                            <article>CSDA2019全国街舞大众考级-北京站报名通道开启！</article>
                        </a></div>
                    </div>
                </div>
            </div>
            <!--轮播结束-->
            <!--加入我们开始-->
            <div class="index_join">
                <p class="index_join_p">欢迎加入我们</p>
                <p class="index_join_english">WELCOM TO JOIN US</p>
                <img class="join_pic" src="@{/csda_files/join_erweima.jpg}" alt="加入我们">
                <p class="index_join_btm_p">欢迎全国街舞机构申请加入我们</p>
                <button class="index_join_btn">扫码申请</button>
            </div>
            <!--加入我们结束-->
        </div>
    </div>
    <!--最新动态开始-->
    <div class="news">
        <div class="news_box">
            <p class="mid_title" th:text="${result.wyhdt.title}">最新动态</p>
            <p class="mid_english" th:text="${result.wyhdt.enTitle}">RECENT NEWS</p>
            <p class="more_p">
                <!--最新动态ID写死 2c91e8f3607d7d2601608b68182f002b-->
                <a class="more_a" th:href="@{'/index/'+${result.wyhdt.id}}">更多 &gt;&gt;</a>
            </p>

            <div class="main_news_box" id="mainNews" data-id="2c91e8f3608b85c501608b870e320001">
                <div class="news_item verti" th:each="wyhdtItem:${result.wyhdts}">
                    <div class="item_box">
                        <div class="item_left verti">
                            <img class="transl_Y"
                                 src="http://ovj2adaf8.bkt.clouddn.com/a9bb3c26-5703-4da3-ab92-cda604309152__13A2866~2.jpg"
                                 alt="">
                        </div>
                        <div class="item_right verti">
                            <p class="item_title">
                                <a class="item_title_a"
                                   th:href="@{'/index/'+${result.wyhdt.id}+'?itemcontentId='+${wyhdtItem.id}}"
                                   th:text="${wyhdtItem.title}">伦敦奥运会体操冠军—来自云南的郭伟阳—预祝第三届中街联赛云南站暨云南省第一届街舞U系列锦标赛圆满成功！</a>
                            </p>
                            <p class="item_text">
                                <span class="item_text_span"></span>
                            </p>
                            <div class="item_btm">
                                <div class="item_time verti"> 2019-11-15</div>
                                <div class="item_writer verti"> CSDA宣传部</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--最新动态结束-->
    <!--官方通知开始-->
    <div class="notice">
        <div class="notice_box">
            <p class="mid_title" th:text="${result.notice.title}">官方通知</p>
            <p class="mid_english" th:text="${result.notice.enTitle}">OFFICIAL NOTICE</p>
            <p class="more_p">
                <a class="more_a" th:href="@{'/index/'+${result.notice.id}}">更多 &gt;&gt;</a>
            </p>
            <div class="main_notice_box">
                <div class="notice_left verti">
                    <a id="mainNoticeUrl"
                       href="http://www.csda.cn.com/csda/webPC/notice/notice_article.html?type=mainNotice&amp;articleId=2c91e8f36d51c4a8016e6e2ca9821a97">
                        <img id="mainNoticeIcon"
                             th:src="@{/csda_files/d6bcfbab-5551-49aa-b209-f7bbd0dfbb46_机构宣传封面尺寸.jpg}" alt="">
                        <article id="mainNoticeTitle">黑舞室街舞文化传播有限公司成为CSDA会员单位！</article>
                    </a>
                </div>
                <div class="notice_right verti">
                    <ul class="notice_right_ul" id="mainNotice" data-id="2c91e8f3607d7d2601608b68182f002b">
                        <li class="notice_right_li" th:each="noticeItem:${result.notices}">
                            <a th:href="@{'/index/'+${result.notice.id}+'?itemcontentId='+${noticeItem.id}}">
                                <span class="notice_title verti"
                                      th:text="${noticeItem.title}">黑舞室街舞文化传播有限公司成为CSDA会员单位！</span>
                                <span class="notice_time verti" th:text="${noticeItem.createdate}">>2019-11-15</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--官方通知结束-->
    <!--红头文件开始-->
    <div class="files">
        <div class="files_box">
            <p class="mid_title" th:text="${result.htwj.title}">红头文件</p>
            <p class="mid_english" th:text="${result.htwj.enTitle}">RED-HEAD DOCUMENT</p>
            <p class="more_p">
                <a class="more_a" th:href="@{'/index/'+${result.htwj.id}}">更多 &gt;&gt;</a>
            </p>
            <!--红头文件开始-->
            <div class="red_head_files">
                <div class="files_main">
                    <ul class="files_main_ul" id="redHead" data-id="2c91e8f3608b85c501608b8651910000">

                        <li class="files_main_li verti" th:each="htwjItem:${result.htwjs}">
                            <a th:href="@{'/index/'+${result.htwj.id}+'?itemcontentId='+${htwjItem.id}}">
                                <span class="notice_title verti"
                                      th:text="${htwjItem.title}">>关于成立CSDA台湾事业发展部的授权通知</span>
                                <span class="notice_time verti" th:text="${htwjItem.createdate}">>2018-08-08</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--红头文件结束-->
        </div>
    </div>
    <!--红头文件结束-->
</main>
<!--menu内容显示-->
<main th:if="${isFirstPage == 1}">
    <div class="main_slide">
        <div class="main_slide_box"  style="font-size: 16px" th:utext="${menuData}">
        </div>

        <!--官方通知开始-->
        <div  id="mainItem">
        </div>
        <!--官方通知结束-->
        <div class="page_box" id="pagebox"  >

            <div id="wrapper" style="font-size: 16px">
            </div>
        </div>
    </div>
</main>

<!--动态内容显示-->
<main th:if="${isFirstPage == 2}">
    <div class="main_slide">
        <div class="main_slide_box" style="font-size: 16px" th:utext="${menuContentData}">
        </div>
    </div>

</main>
<!--中部结束-->
<!--底部开始-->
<footer>
    <div class="friend_links">
        <div class="friend_links_main">
            <span class="verti">友情链接：</span>
            <a class="verti" href="http://www.csdl.xn--fiqs8s/" target="_blank">CSDA赛事网</a>
            <a class="verti" href="http://www.sport.gov.cn/n16/index.html" target="_blank">国家体育总局</a>
            <a class="verti" href="http://www.sport.gov.cn/n16/n33193/n33223/n34839/index.html"
               target="_blank">体操运动管理中心</a>
            <a class="verti" href="http://gymnastics.sport.org.cn/" target="_blank">体操协会</a>
        </div>
        <div class="footer_btm">
            <div class="footer_btm_main">
                <div class="footer_main_top">
                     <span class="company_name verti">
                         Copyright©2018北京中嘻汇文化传媒有限公司
                     </span>
                    <br>
                    <span class="company_location verti">
                         <img class="transl_Y" th:src="@{/csda_files/local_icon.png}" alt="">
                          地址：北京市朝阳区高碑店广渠路华膳园5号楼306室
                    </span>
                </div>
                <div class="footer_main_btm">
                    <div class="footer_main_btm_left verti">
                        <div class="verti QR_code_box">
                            <img th:src="@{/csda_files/official_website.jpg}" alt="">
                            <p class="QR_code_text">CSDA运营平台</p>
                        </div>
                        <div class="verti QR_code_box">
                            <img th:src="@{/csda_files/saishi_erweima.jpg}" alt="">
                            <p class="QR_code_text">CSDA赛事服务号</p>
                        </div>
                        <div class="verti QR_code_box">
                            <img th:src="@{/csda_files/weibo_erweima.jpg}" alt="">
                            <p class="QR_code_text">CSDA官方微博</p>
                        </div>
                        <div class="verti QR_code_box">
                            <img th:src="@{/csda_files/dingyuehao_erweima.jpg}" alt="">
                            <p class="QR_code_text">CSDA订阅号</p>
                        </div>
                    </div>
                    <div class="footer_main_btm_right verti">
                        <p>联系电话：</p>
                        <p>总机电话：010-57097609</p>
                        <p>赛事电话：010-57097609转8008</p>
                        <p>演出电话：010-57097609转8009</p>
                        <p>财务电话：010-57097609转8007</p>
                        <p>资审电话：010-57097609转8002/8003</p>
                        <p>培训电话：010-57097609转8006/8010</p>
                    </div>
                </div>
            </div>
            <p class="beian">京ICP备14043089号-1</p>
        </div>
    </div>
</footer>
<!--底部结束-->

<!--客服开始-->
<div class="service transl_Y">
    <ul class="service_ul">
        <li class="service_li verti">
            <a href="javascript:" class="service_li_a number_a"></a>
            <div class="number_box service_erji_box">
                <p>联系电话：<br>
                    总机电话：010-57097609 <br>
                    赛事电话：010-57097609转8008 <br>
                    资审电话：010-57097609转8002/8003</p>
            </div>
        </li>
        <li class="service_li verti">
            <a href="javascript:" class="service_li_a time_a"></a>
            <div class="number_box service_erji_box">
                <p>工作时间： <br>
                    周一到周五：10:00-19:00</p>
            </div>
        </li>
        <li class="service_li verti">
            <a href="javascript:" class="service_li_a weixin_a"></a>
            <div class="number_box service_erji_box">
                <p class="weixin_erweima_title">服务号二维码</p>
                <img class="weixin_erweima" th:src="@{/csda_files/weixin_erweima.jpg}" alt="">
            </div>
        </li>
        <li class="service_li verti">
            <!--<a href="#header" class="service_li_a top_a"></a>-->
            <a href="javascript:" class="service_li_a top_a"></a>
        </li>
    </ul>
</div>
<!--客服结束-->
<!-- <script src="public/js/bootstrap.min.js"></script> -->
<script>
    $(".item_box").click(function () {
        window.location.href = 'committee_dynamics/committee_article.html';
    });
    $(function () {
//     溢出隐藏处理
        overflowHidden($(".item_text_span"), "item_text_overflow");
//     客服鼠标划过样式
        $(".service_li").hover(function () {
            $(this).find(".service_li_a").addClass("service_li_a_active").siblings(".service_erji_box").css("right", "61px");
        }, function () {
            $(this).find(".service_li_a").removeClass("service_li_a_active").siblings(".service_erji_box").css("right", "-196px");
        });

//        回到顶部延迟效果
        $(".top_a").click(function () {
            var sc = $(window).scrollTop();
            $('body,html').animate({scrollTop: 0}, 500);
        })

    });

</script>

<script th:src="@{/csda_files/bootstrap.min.js}"></script>
<script th:src="@{/csda_files/public.js.下载}"></script>
<div style="display: none">
    <script th:src="@{/csda_files/z_stat.php}" language="JavaScript"></script>
    <script th:src="@{/csda_files/core.php}" charset="utf-8" type="text/javascript"></script>
    <a href="#" target="_blank" title="站长统计">站长统计</a>
</div>

</body>
</html>